gh/config.yml
gh/hosts.yml
zsh/.zcompdump
zsh/.zsh_sessions/
zsh/.zsh_history
zsh/.zcompdump
nvim/plugged/
tmux/plugins/
nvim/lua/.luarc.json
lazygit/state.yml
lazygit
glab-cli/config.yml
lazygit-catpuccin
kitty-themes
configstore/update-notifier-npm.json
